<a href="https://colab.research.google.com/github/thecoderarnav/P134/blob/main/P134.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files 
data_to_load = files.upload()

Saving data 134.csv to data 134.csv

In [11]:
import csv
import pandas as pd

df = pd.read_csv('data 134.csv')
df.head

<bound method NDFrame.head of      Unnamed: 0               Star_name  ...     Radius       Gravity
0             0                     Sun  ...   1.000000  2.742692e+02
1             1                  Sirius  ...   1.710000  1.969718e+02
2             2                 Canopus  ...  71.000000  8.161153e-01
3             3          Alpha Centauri  ...   1.200000  2.095112e+02
4             4                Arcturus  ...  26.000000  4.462960e-01
..          ...                     ...  ...        ...           ...
248         248  2MASSI J2356547-155310  ...   0.112012  1.669385e+03
249         249          WISE 0410+1502  ...   0.120233  1.086673e+02
250         250         WISE 0458+6434A  ...   0.431605  2.108201e+01
251         251         WISE 0458+6434B  ...   0.390499  1.716928e+01
252         252          WISE 1405+5534  ...   0.088376  2.447107e-10

[253 rows x 6 columns]>

In [12]:
b = []
for a in df.Distance:
  if a<=100:
    b.append(True)
  else:
    b.append(False)

is_dist = pd.Series(b)
is_dist.head()

   Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0           0             Sun   0.000016   1.0    1.00  274.269161
1           1          Sirius   8.600000   2.1    1.71  196.971800
3           3  Alpha Centauri   4.400000   1.1    1.20  209.511165
4           4        Arcturus  37.000000   1.1   26.00    0.446296
5           5            Vega  25.000000   2.2    2.70   82.769843

In [21]:
star_dist = df[is_dist]
star_dist.reset_index(inplace=True,drop = True)
star_dist.head()

   Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0           0             Sun   0.000016   1.0    1.00  274.269161
1           1          Sirius   8.600000   2.1    1.71  196.971800
2           3  Alpha Centauri   4.400000   1.1    1.20  209.511165
3           4        Arcturus  37.000000   1.1   26.00    0.446296
4           5            Vega  25.000000   2.2    2.70   82.769843

In [22]:
star_dist.shape

(159, 6)

In [24]:
gravity1 =[]
final_stars = []
for g in star_dist.Gravity:
  if g<=350 and g>=150:
    gravity1.append(True)

  else:
    gravity1.append(False)

is_gravity = pd.Series(gravity1)
final_stars = star_dist[is_gravity]
final_stars.head()

    Unnamed: 0       Star_name   Distance  Mass  Radius     Gravity
0            0             Sun   0.000016   1.0    1.00  274.269161
1            1          Sirius   8.600000   2.1    1.71  196.971800
2            3  Alpha Centauri   4.400000   1.1    1.20  209.511165
7           12          Altair  17.000000   1.8    1.80  152.371756
10          18       Fomalhaut  25.000000   1.9    1.80  160.836854